@model IEnumerable<Translation>

<div class="card">
    <div class="card-header">
        <a asp-controller="Project" asp-action="Translations">Vertimai</a>
    </div>
    <div class="card-body">
        @if (!Model.Any())
        {
            <p class="text-warning text-center">Neturite vertimų</p>
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    Išverta dokumentų: @Model.Where(x => x.IsCompleted == true).Count() / @Model.Count()
                </div>

                <div class="col-md-6">
                    @{
                        var total = 0;
                        foreach (var item in Model)
                        {
                            total += item.TranslationDictionarys.Where(x => x.NewValue != null).Count();
                        }
                    }
                    Išversta žodžių iš viso: @total
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Laukiama pativirtinimo: @Model.Where(x => x.IsWaiting == true).Count()
                </div>
            </div>
            <br />
        }
        @if (ViewBag.exist)
        {
            <a class="btn btn-primary btn-sm btn-block" asp-controller="Project" asp-action="NewLocale">Pridėti vertimą</a>
        }
        else
        {
            <a class="btn btn-primary btn-sm btn-block disabled">Pridėti vertimą</a>
        }

    </div>
</div>