
<div class="card">
    <div class="card-header">
        Vertimai
    </div>
    <div class="card-body">
        <p class="text-warning text-center">Neturite vertimų</p>
        <a class="btn btn-primary btn-sm btn-block" asp-controller="Project" asp-action="NewLocale">Pridėti vertimą</a>
    </div>
</div>