@model IEnumerable<Translation>


@if (!Model.Any())
{
    <h2 class="text-warning text-center">Pridėkite pirmąjį vertimą</h2>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr class="table-warning">
                <th scope="col">Pavadinimas</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-warning">
                    <td><a asp-controller="Project" asp-action="Editor" asp-route-id="@item.Id">@item.Title</a></td>
                    <td>
                        <div class="btn-group btn-group-sm" style="float:right" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-dark">Parsisiųsti</button>
                            <button type="button" class="btn btn-danger">Ištrinti</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

