<h1 class="display-4">Sveiki atvykę, @User.Identity.Name</h1>
<hr />
<div class="row">
    <div id="projects" class="col-6">
        @await Component.InvokeAsync("ProjectsIndex", new { })
    </div>
    <div id="invits" class="col-6">
        @await Component.InvokeAsync("InvitationsIndex", new { })
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8 offset-md-2">
        @await  Component.InvokeAsync("PostsIndex", new { })
    </div>
</div>



