@model AppIdentityUser

@inject translate.web.Resources.LocService SharedLocalizer
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="MyProfile">@SharedLocalizer.GetLocalizedHtmlString("personalInfoCaption")</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="MyCreds">@SharedLocalizer.GetLocalizedHtmlString("passwordCaption")</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="MyAccount">Anketa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Home" asp-action="MySecurity">Saugumas</a>
    </li>
</ul>
@if (!Model.EmailConfirmed)
{
    <div class="row">
        <div class="col-md-12">
            <h4>Norėdami įgalinti dviejų žingsnių autentifikaciją, pirmiausia reikia patvirtinti el. paštą.</h4>
            <form asp-controller="Home" asp-action="VerifyEmail" method="post">
                <button type="submit" class="btn btn-info">Patvirtinti</button>
            </form>
        </div>
    </div>

}
else
{
    <div class="row">
        <div class="col-md-12">
            <h4>Čia galite įjungti/išjungti dviejų žingsnių autentifikaciją.</h4>
            <h5>
                Dviejų žingsnių autentifikacija:
                @if (Model.TwoFactorEnabled)
                {
                    <strong class="text-success">ĮJUNGTA</strong>
                }
                else
                {
                    <strong class="text-danger">IŠJUNGTA</strong>
                }
            </h5>
            @if (Model.TwoFactorEnabled)
            {

                <div class="btn-group" role="group">
                    <form asp-controller="Home" asp-action="DisableTwoFactorAuthentication" method="post">
                        <button type="submit" class="btn btn-success">Išjungti</button>
                    </form>
                </div>
            }
            else
            {
                <div class="btn-group" role="group">
                    <form asp-controller="Home" asp-action="EnableTwoFactorAuthentication" method="post">
                        <button type="submit" class="btn btn-success">Įgalinti</button>
                    </form>
                </div>
            }
        </div>
    </div>
}


