
@inject translate.web.Resources.LocService SharedLocalizer
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="MyProfile">@SharedLocalizer.GetLocalizedHtmlString("personalInfoCaption")</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="MyCreds">@SharedLocalizer.GetLocalizedHtmlString("passwordCaption")</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="MyAccount">Anketa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Home" asp-action="MySecurity">Saugumas</a>
    </li>
</ul>
<h2>TODO: Enable 2 stemps auth via SendGrid email services.</h2>

