@model IEnumerable<ProjectMember>
<h2>Projects</h2>
<a asp-action="NewProject" class="btn btn-info">Sukurti naują</a>
<hr />
@if (Model.Any())
{
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Create date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-controller="Project" asp-action="Index" asp-route-projectId="@item.Project.Id">@item.Project.Name</a></td>
                    <td>@item.Project.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="display-4">Jus neturite projetu</h1>
}
