<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VS</title>
    <environment names="Development">
        <script src="~/dist/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/main.js" asp-append-version="true"></script>
    </environment>
</head>
<body style="display:grid;align-items:center">
    <div class="container-fluid">
        @RenderBody()
    </div>
    <environment names="Development">
        <script src="~/dist/scripts.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/scripts.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>