@model IEnumerable<TranslationDictionary>

@if (Model.Any())
{
    <div id="buttons" class="list-group">
        @foreach (var item in Model)
        {
            <button id="li" type="button" class="list-group-item list-group-item-action" data-pr="@item.Translations.Document.ProjectId" data-key="@item.Id">@item.GivenValue</button>
        }
    </div>
}
else
{
    <h3 class="text-success text-center">Viskas išversta!</h3>
    <form asp-controller="Project" asp-action="CompleteTranslation" method="post">
        <input type="hidden" name="transId" value="@ViewBag.trans" />
        <button type="submit" class="btn btn-info">Užbaigti vertimą</button>
    </form>
}

<script>
    window.onload = function () {


    };
</script>
