@model PasswordRecoveryViewModel
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

@inject translate.web.Resources.LocService SharedLocalizer

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">Susigrąžinimas</div>
                    <div class="col-8">@await Html.PartialAsync("_SelectLanguagePartial")</div>
                </div>
            </div>
            <div class="card-body">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                        Pasitikrinkite el. paštą
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h4>Įveskite savo el. pašto adresą</h4>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" asp-for="Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success" style="float:right">Siųsti</button>
                </form>
            </div>
        </div>

    </div>
</div>
