@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

@inject translate.web.Resources.LocService SharedLocalizer

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">Susigrąžinimas</div>
                    <div class="col-8">@await Html.PartialAsync("_SelectLanguagePartial")</div>
                </div>
            </div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h4>Įveskite prašomus duomenis:</h4>
                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                    <input asp-for="Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="email" class="form-control" asp-for="Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="Password" class="form-control" asp-for="Password" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input type="password" class="form-control" asp-for="ConfirmPassword" required>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success" style="float:right">Pakeisti</button>
                </form>
            </div>
        </div>

    </div>
</div>