@model NewDocumentViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1 class="display-4">Naujas dokumentas</h1>
<hr />
<form asp-controller="Admin" asp-action="NewDocument">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Example" class="control-label"></label>
                <textarea asp-for="Example" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Example" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Įtraukti" class="btn btn-primary" />
        </div>
    </div>
</form>
