
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@inject translate.web.Resources.LocService SharedLocalizer

<h2>@SharedLocalizer.GetLocalizedHtmlString("usersTitle")</h2>

<div class="table table-responsive">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Vardas pavardė</th>
                <th scope="col">E-mail address</th>
                <th scope="col">Būsena</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="col">Vardas pavardė</th>
                <th scope="col">E-mail address</th>
                <th scope="col">Būsena</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vartotojo teisės</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Norite pasirinktam vartotojui suteikti administratoriaus teises?</p>
            </div>
            <div class="modal-footer">
                <button id="toAdminBtn" type="button" class="btn btn-primary">Taip</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="toOrdinary" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vartotojo teisės</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Norite pasirinktam vartotojui atimti administratoriaus teises?</p>
            </div>
            <div class="modal-footer">
                <button id="toOrdinaryBtn" type="button" class="btn btn-primary">Taip</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var table = jQuery('#example').DataTable({
            "ajax": {
                "url": "/Admin/GetUsersAjax",
                "dataSrc": ""
            },
            "columns": [
                { "data": "result.fullName" },
                { "data": "result.email" },
                { "data": "result.state" }
            ]
        });


        jQuery('#example tbody').on('click', 'tr', function () {
            var data = table.row(this).data();

            if (data.result.isAdmin == true) {
                jQuery('#toOrdinary').modal();
                jQuery('#toOrdinaryBtn').attr("user", data.result.userId);

                jQuery("#toOrdinaryBtn").click(function (e) {
                    e.preventDefault();
                    var button = jQuery('#toOrdinaryBtn');
                    var userId = button.attr("user");

                    jQuery.ajax({
                        type: 'post',
                        url: "/Admin/UpdatedToOrdinaryAsync",
                        data: JSON.stringify({
                            Id: userId
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            location.reload();
                        },
                        error: function (result) { }
                    });

                });

            } else {
                jQuery('#myModal').modal();
                jQuery('#toAdminBtn').attr("user", data.result.userId);


                jQuery("#toAdminBtn").click(function (e) {
                    e.preventDefault();
                    var button = jQuery('#toAdminBtn');
                    var userId = button.attr("user");

                    jQuery.ajax({
                        type: 'post',
                        url: "/Admin/UpdatedToAdminAsync",
                        data: JSON.stringify({
                            Id: userId
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            location.reload();
                        },
                        error: function (result) { }
                    });

                });
            }


        });
    </script>
}